body{
    background-color: black;
    color: white;
}

#grid{
    display: grid;
    grid-template-columns: repeat(7, auto);
    grid-template-rows: repeat(7, auto);
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    grid-gap: 40px 20px;
    font-size: 30px;
}